{% extends "layout.html" %}

{% block content %}

    <div class="description col-md-12 center">Search and browse for Tweetorials!</div>
    <div class="missionstatement col-md-12 center">The mission of this site is to display and create Tweetorials (Twitter threads aimed at explaining an obscure scientific subject)</div>
    <div class="results col-md-12 zero_padding center" style="font-weight: bold; color: red;"></div>
    <!--Display Row (tweetorials)-->
    <div class="row center" style="padding-top: 20px;" id="tweetrow"></div>
    <div class="row col-md-12" id="warning"></div>

{% endblock %}