{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'annotate.js') }}"></script>

<style>
    .zero_padding {
        padding: 0px;
    }
    .centered {
        text-align: center;
    }
    .columntitletext {
        font-size: 15px;
        padding-bottom: 20px;
    }
    #tweetcolumn {
        justify-content: center;
    }
    #annotationbutton {
        font-size: 15px;
    }
    .annotationinput {
        padding: 10px;
    }
    #annotationtext {
        width: 260px;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        border: 1px solid gray;
    }
    .resizable-input {
        /* make resizable */
        overflow-x: hidden;
        resize: both;
        display: inline-block;
        /* no extra spaces */
        padding: 0;
        margin: 0;
        white-space: nowrap;
        /* default widths */
        width: 200px;
        min-width: 2em;
        max-width: 30em;
    }

        /* let <input> assume the size of the wrapper */
        .resizable-input > input {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
        }

        /* add a visible handle */
        .resizable-input > span {
            display: inline-block;
            vertical-align: bottom;
            margin-left: -16px;
            width: 16px;
            height: 16px;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAJUlEQVR4AcXJRwEAIBAAIPuXxgiOW3xZYzi1Q3Nqh+bUDk1yD9sQaUG/4ehuEAAAAABJRU5ErkJggg==");
            cursor: ew-resize;
        }
</style>
<div class="container zero_padding">
    <div class="col-md-3 zero_padding centered" id="leftcolumn">
        <div class="columntitletext">Previous annotations</div>
    </div>
    <div class="col-md-6 zero_padding centered" id="tweetcolumn">
        <div class="columntitletext">Tweets</div>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Geeky thread warning. Or, if you’re like me, a cool bit of 20th Century urban archaeology. Check out this shop in Kingston. What’s unusual about it (aside from its no-doubt-excellent nails service)? <a href="https://t.co/MT3G9Yii9Z">pic.twitter.com/MT3G9Yii9Z</a></p>&mdash; Mark Wallace (@wallaceme) <a href="https://twitter.com/wallaceme/status/1110836282480082944?ref_src=twsrc%5Etfw">March 27, 2019</a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-3 zero_padding centered" id="rightcolumn">
        <div>
            <div class="columntitletext">My annotations</div>
            <div class="annotationinput">
                <!-- <span class="resizable-input"> -->
                <input type="text" id="annotationtext" placeholder="New annotation" />
                <!-- </span> -->
            </div>
            <button type="button" class="btn btn-primary" id="annotationbutton">Add annotation</button>
        </div>
        <div class="columntitletext">My tags</div>
    </div>
</div>

{% endblock %}